@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700');
@import url('https://fonts.googleapis.com/css?family=IBM+Plex+Sans:400,500');


body {
    display: grid;
    margin: 0;
    background-color: #17212b;
    font-family: 'Montserrat', sans-serif;
    color: #e9e8e8;
}

header {
    height: 5vh;
    display: flex;
    align-items: center;
}

header h1 {
    margin: 0;
    padding-left: 1rem;
}

main {
    height: 90vh;
    display: grid;
    grid-template-columns: 40% 60%;
    overflow-x: hidden;
    grid-template-areas: "display tools";
}

.display {
    border: 0.2rem solid #242f3d;
    box-sizing: border-box;
    grid-area: display;
    display: grid;
    grid-template-rows: 8% 82% 10%;
    grid-template-areas: "size"
                         "device"
                         "button";
    justify-items: center;
    align-items: center;
}

.display-size p {
    text-align: center;
    line-height: 1.5rem;
    margin: 0;
}

.display-device {
    width: 375px;
    height: 667px;
    background-color: #F4F4F4;
    grid-area: device;
    outline: none;
    color: #333;
    font-family: 'IBM Plex Sans', sans-serif;
    letter-spacing: -0.05rem;
    overflow-y: scroll;
}

.display-device::-webkit-scrollbar {
    width: 0rem;
}

.display-device::-webkit-scrollbar-thumb { 
    max-height: 3rem; 
    background-color: rgba(51, 51, 51, 0.5); 
    border-radius: 1rem;
}

.display-device__content {
    background-color: #FFFFFF;
    margin: 0.9375rem;
    box-shadow: 0 2px 4px rgba(0,0,0,0.35);
    padding: 0.9375rem;

}

.editor {
    display: block;
}

.buttons {
    display: none;
    margin: 0rem 1rem;
}

.editor:hover .buttons {
    display: flex;
} 

.ion-ios-trash,
.ion-arrow-down-c,
.ion-arrow-up-c {
    display: block;
    color: #242f3d;
    font-size: 1.8rem;
    margin: 0;
    width: 2rem;
    cursor: pointer;
    text-align: center;
    align-self: center;
}

.ion-edit {
    display: block;
    color: #242f3d;
    font-size: 1.55rem;
    margin: 0;
    width: 2rem;
    cursor: pointer;
    text-align: center;
    align-self: center;
}





/*Классы для выгрузки НАЧАЛО*/



.content-header {
    margin: 0.9375rem 0;
    font-size: 1.6rem;
    line-height: 1.9rem;
}

.content-simpletext {
    margin: 0.9375rem 0;
    font-size: 1.125rem;
    line-height: 1.4rem;
}

.content-simpletext__secondary {
    margin: 0.5rem 0;
    font-size: 1rem;
    line-height: 1.3rem;
}

.content-simpletext__bold {
    margin: 0.9375rem 0;
    font-size: 1.125rem;
    font-weight: 500;
}

strong {
    font-weight: 500;
}

.footer {
    display: grid;
    grid-template-columns: 11% 89%;
    align-items: center;
}

.footer-icon {
    width: 1.5rem;
}

.screen {
    width: 100%;
}

.full-screen__container {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 100%;
}

.centered-screen__container {
    display: block;
    margin: 0 auto;
    padding: 0;
    width: 50%;
}

.separator {
    border-top: 0.1rem solid #CCCCCC;
    margin: 0;
}

.single-separator {
    border-top: 0.1rem solid #CCCCCC;
    margin: 1.25rem 0;
}

.more-details {
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    text-decoration: none;
}

.more-details svg {
    justify-self: right;
}

.more-details__link {
    margin: 0;
    padding: 10px 0;
    color: #333;
    font-size: 1.125rem;
}

.download-list {
    display: flex;
    list-style: none;
    justify-content: center;
    align-items: center;
    padding: 0;
}

.download-list a {
    padding: 0;
    margin: 0;
    line-height: 0;
}

.ios-badge {
    width: 7.95rem;
    padding: 0.3rem 1rem;
}

.android-badge {
    padding: 0.3rem 1rem;
    width: 8.5rem;
}

.buttons {
    display: none;
}

/*Классы для выгрузки КОНЕЦ*/



.display-button__download {
    grid-area: button;
    padding: 0 0.5rem;
    height: 70%;
    border: 0.1rem solid #e9e8e8;
    border-radius: 0.2rem;
    background-color: #0e1621;
    color: #e9e8e8;
    font-size: 1.3rem;
    outline: none;
    transition: 300ms;
    cursor: pointer;
}

.display-button__download:hover {
    background-color: #2b5278;
    border-color: #e9e8e8;
    height: 72%;
    padding: 0 0.7rem;
    letter-spacing: 0.05rem;
}

.tools {
    background-color: #0e1621;
    border: 0.2rem solid #242f3d;
    box-sizing: border-box;
    border-left: none;
    grid-area: tools;
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-areas: "nav options";
}

.tools-nav {
    border-right: 0.2rem solid #242f3d;
    box-sizing: border-box;
    position: relative;
    height: 100%;
    color: #e9e8e8;
    grid-area: nav;
}

.tools-nav ul {
    margin: 0 auto;
    padding: 0.5rem 0 0 0;
}

.tools-nav ul li {
    margin: auto;
    list-style: none;
    padding: 0.2rem 0;
    font-size: 0.9rem;
    color: #e9e8e8;
    width: 80%;
    transition: 300ms;
    display: grid;
    justify-items: center;
}

.tools-nav ul li:hover {
    background-color: #2b5278;
    padding: 0.5rem 0.5rem;
    border-radius: 0.2rem;
    cursor: pointer;
    font-size: 1rem;
}

.tools-options__text {
    display: none;
    grid-area: options;
    margin: 1rem;
    grid-template-areas: "selection"
                         "options"
                         "textarea"
                         "button";

}

.tools-options__text--items {
    grid-area: selection;
    width: 20rem;
    outline: none;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: #242f3d;
    color: #e9e8e8;
    padding-left: 0.5rem;
}

.tools-options__img--items {
    grid-area: selection;
    width: 20rem;
    outline: none;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: #242f3d;
    color: #e9e8e8;
    padding-left: 0.5rem;
}

select:hover {
    background-color: #2b5278;
}

.tools-options__text--options {
    grid-area: options;
    margin-top: 1rem;

}

.edit-buttons {
    padding: 0 0.5rem;
    min-height: 2rem;
    min-width: 2rem;
    border: 0.05rem solid #e9e8e8;
    border-radius: 0.2rem;
    background-color: #0e1621;
    color: #e9e8e8;
    font-size: 1rem;
    outline: none;
    transition: 300ms;
    cursor: pointer;
    display: inline-block;
}

.edit-buttons:hover {
    background-color: #2b5278;
    border-color: #e9e8e8;
    letter-spacing: 0.05rem;
}

textarea {
    grid-area: textarea;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1.2rem;
    border-radius: 0.3rem;
    min-height: 15rem;
    max-height: 65vh;
    background-color: #242f3d;
    color: #e9e8e8;
    border: 0.05rem solid #e9e8e8;
}

textarea:focus {
    outline-color: #e9e8e8;
    border: 0.05rem solid #2b5278;
    outline: none;
}

.tools-options__images {
    display: none;
    grid-area: options;
    margin: 1rem;
    grid-template-areas: "selection"
                         "textarea"
                         "button";

}

input {
    grid-area: textarea;
    margin: 1rem 0;
    padding: 0.5rem;
    font-size: 1rem;
    border-radius: 0.3rem;
    background-color: #242f3d;
    color: #e9e8e8;
    border: 0.05rem solid #e9e8e8;
}

input:focus {
    outline-color: #e9e8e8;
    border: 0.05rem solid #2b5278;
    outline: none;
}

.tools-options__links {
    display: none;
    grid-area: options;
    margin: 1rem;
    grid-template-areas: "selection_one" 
                         "selection_two"
                         "input_one"
                         "input_two"
                         "button";
}

.tools-options__links--items {
    grid-area: selection_one;
    width: 20rem;
    outline: none;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: #242f3d;
    color: #e9e8e8;
    padding-left: 0.5rem;

}

.tools-options__links--lang {
    grid-area: selection_two;
    margin-top: 1rem;
    width: 20rem;
    outline: none;
    height: 2rem;
    border-radius: 0.3rem;
    font-size: 1rem;
    background-color: #242f3d;
    color: #e9e8e8;
    padding-left: 0.5rem;
}

.tools-options__links--details {
    grid-area: input_one;
    display: none;
}

.tools-options__links--android {
    grid-area: input_one;
    display: none;
}

.tools-options__links--ios {
    grid-area: input_two;
    margin-top: 0;
    display: none;
}

#add_more-details {
    display: block;
}

#add_markets {
    display: none;
}

.tools-options__button,
.tools-options__button--save {
    grid-area: button;
    padding: 0 0.5rem;
    height: 3rem;
    width: 7rem;
    border: 0.05rem solid #e9e8e8;
    border-radius: 0.2rem;
    background-color: #0e1621;
    color: #e9e8e8;
    font-size: 1.1rem;
    outline: none;
    transition: 300ms;
    cursor: pointer;
    display: block;
}

.tools-options__button--save {
    display: none;
}

.tools-options__button:hover {
    background-color: #2b5278;
    border-color: #e9e8e8;
    font-size: 1.3rem;
}

footer {
    height: 5vh;
    display: grid;
    justify-items: center;
    align-items: center;
}

.author h4 {
    margin: 0;
}